  <nav class="navbar sticky-top navbar-expand-lg  navbar-dark .bg-info.bg-gradient py-4">
    <div class="container">
      <a class="navbar-brand" routerLink="/home-page"><img src="../../assets/img/logo.svg" alt="Logo" height="50px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home-page" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/movie-list" routerLinkActive="active">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/campaigns" routerLinkActive="active">Campaigns</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
          </li>
        </ul>
        <!--form class="form-inline my-2 my-lg-0">
          <input #searchBox id="search-box" (input)="search(searchBox.value)" type="search" placeholder="Search" aria-label="Search">
          <ul class="list-group">
            <li class="list-item" *ngFor="let movie of movies$ | async">
              <a routerLink="/movie/{{ movie.id }}">{{ movie.title }}</a>
            </li>
          </ul>
        </form-->
      </div>
    </div>
  </nav>