<footer class="page-footer font-small pt-4">
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Cinema<span id="plusw">Plus</span></h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Our company is a network of cinemas that has digital projection 
          systems with high resolution and the ability to display 3D content.
        </p>
      </div>
      <div class="links col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="/home-page">Home</a>
        </p>
        <p>
          <a routerLink="/movie-list">Movies</a>
        </p>
        <p>
          <a routerLink="/campaigns">Campaigns</a>
        </p>
        <p>
          <a routerLink="/about-us">About Us</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Baku, AZ 1010, AZ
        </p>
        <p>
          info@cinemaplus.az
        </p>
        <p>
          +994 12 498 89 88
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright: Cinema<span id="plus">Plus</span>
  </div>
</footer>